%section#content.container
  .content
    .row-fluid
      .span9
        %h2 My Account
        %hr
      
        .row-fluid
          %h3 Facebook
          %p
            - if current_user.facebook
              Facebook successfully connected!
            - else
              Not connected
              %br
              = link_to "Sign in to Twitter", "/users/auth/facebook", :class => "btn btn-success"
        
        .row-fluid
          %h3 Twitter
          %p
            - if current_user.twitter
              Twitter succesffully connected!
            - else
              Not connected
              %br
              = link_to "Sign in to Twitter", "/users/auth/twitter"
      
      
        .row-fluid
          %h3 Google
          %p
            - if current_user.google
              Google succesffully connected!
            - else
              Not connected
              %br
              = link_to "Sign in to Google", "/users/auth/google_oauth2"
        
        
        .row-fluid
          %h3 Tumblr
          %p
            - if current_user.tumblr
              Tumblr succesffully connected!
            - else
              Not connected
              %br
              = link_to "Sign in to Tumblr", "/users/auth/tumblr"
      
      
        .row-fluid
          %h3 Foursquare
          %p
            - if current_user.foursquare
              Foursquare succesffully connected!
            - else
              Not connected
              %br
              = link_to "Sign in to Foursquare", "/users/auth/foursquare"
      